/* sub3-3 본문 영역 */

.visual {width: 100%; height: 160px; background: url(../images/sub1_main2.jpg) center no-repeat; background-size: cover;}

.h3_div {margin: 50px 0px ; text-align: center; font-size: 1.25em;}
.h3_div h3 {color: #062045; font-weight: bold;}
.h3_div img {padding: 15px 0;}


/* fancybox */
.pro_list {margin:30px auto; width: 100%; overflow:hidden; text-align: center;}
.pro_list li { width:25%; float:left; }
.pro_list li span {display:block;font-size:.75em; }

/* youtube video */
.cf {position: relative; padding-bottom: 56.25%; padding-top: 50px; height: 0; overflow: hidden;}
.cf iframe, .cf object, .cf embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

.bttmbg {width: 96%; margin: 0 2%;}