/* list.php css 입니다*/

.content_area {text-align: center;}

.content_area .scale_list {width: 1000px; text-align: right;}
.content_area form {width: 1000px; margin: 0 auto; border: 1px dotted #ccc; text-align: center;}

