

.content_area .faq {font-family: 'Noto Sans KR', sans-serif;}
.faq{width:1000px; border-bottom:1px dotted #ddd; font-size:1.25em; margin: 0 98px 120px 98px; line-height: 1.5em;}  
/* .faq .hgroup{position:relative;}   */
.faq .hgroup .all{position:absolute; top:-85px; right:40px; text-decoration:none; }  

.faq ul{margin:0;padding:0;list-style:none}  
.faq .q{margin:0;border-top:1px solid #ddd; position: relative;}  
.faq .q a.trigger{display:block;padding:10px 15px;background:#fafafa;color:#333;text-align:left;text-decoration:none;color: #333;}  
.faq .hide .q a.trigger{font-weight:normal;background:none}  
.faq .q a.trigger:hover,  
.faq .q a.trigger:active,  
.faq .q a.trigger:focus{background:rgba(91, 173, 173, 0.5);color:#fff} 
.faq .q span{display: block; position: absolute; right: 15px; top:10px} 
.faq .a{margin:0;padding:10px 15px; height:380px; display: none;} 


