/* sub2_1 본문 영역 */

.visual {width: 100%; height: 160px; background: url(../images/sub1_main3.jpg) center no-repeat; background-size: cover;}

.h3_div {margin: 50px 0px ; text-align: center; font-size: 1.25em;}
.h3_div h3 {color: #062045; font-weight: bold;}
.h3_div img {padding: 15px 0;}

.introduce, .content01 {text-align: center; margin-bottom: 70px;}
.introduce_txt p {line-height: 1.5em; text-align: center; font-size: 1.25em;}
.bgimg {width: 96%; margin: 0 2%;}

.content01 dl {line-height: 1.5em; font-size: 1.25em; background: url(../images/logo_opaque.png) no-repeat center;}
.content01 dt {font-weight: bold;}


.content_04 {overflow: hidden; text-align: center; }
.content_04 dl { }
.content_04 dt {font-weight: bold; font-size: 1.5em; color:#666; margin-bottom: 20px;}
.content_04 dd {padding: 40px 30px; height: 100px; line-height: 2em;}
.content_04 dl:nth-of-type(1) dd {background: rgba(255,0,51,.1); }
.content_04 dl:nth-of-type(2) dd {background: rgba(255,104,0,.1);}
.content_04 dl:nth-of-type(3) dd {background: rgba(251, 255, 1, 0.1);}
.content_04 dl:nth-of-type(4) dd {background: rgba(136, 255, 1, 0.1);}
.content_04 dl:nth-of-type(5) dd {background: rgba(1, 255, 179, 0.1);}

.content_04 dt span {display: block; font-size: 5.625em; height: 150px; margin-bottom: 10px; }
.content_04 dl:nth-of-type(1) dt span {color:  rgb(255,0,51);}
.content_04 dl:nth-of-type(2) dt span {color:  rgb(255,104,0)}
.content_04 dl:nth-of-type(3) dt span {color:  rgb(255, 217, 0)}
.content_04 dl:nth-of-type(4) dt span {color:  rgb(177, 250, 117)}
.content_04 dl:nth-of-type(5) dt span {color:  rgb(0, 255, 221)}