@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

body { background:whitesmoke;}
#content{width: 1000px; margin: 0 auto; font-family: 'Noto Sans KR', sans-serif;}  
#content .logo {text-align: center; margin-top: 50px;}
#content .logo img {width: 150px; }



    .member_tab{padding: 30px 0;border-top: 1px solid #333}
    .member_tab a{font-size: 24px;padding: 10px;margin: 0 10px;color: #aaa;}
    .member_tab a.on{color: #000;border-bottom: 2px solid #000;font-weight: bold}
    .member_tab span{font-size: 24px;padding: 10px;margin: 0 10px;color: #000;font-weight: bold}

    .join{text-align: left}
    .join h4{font-size: 16px;margin-top: 30px}
    .join .policy{padding: 10px;overflow-y: scroll;height: 100px;margin: 10px 0;border: 1px solid #ddd}
    .join .button, .join .allcheck {text-align: center; margin-bottom: 20px;} 
    .join .button .ok,.join .button button , .join .allcheck  {display: inline-block;width: 150px;line-height: 24px;padding: 8px 0;border: none;background: rgb(29, 82, 156);color: #fff;font-size: 14px;cursor: pointer}
    .join .button .cancel{display: inline-block;width: 150px;line-height: 24px;padding: 8px 0;border: none;background: #999;color: #fff;font-size: 14px;cursor: pointer}

#content .join .check { background: none;}
#content .join div { background: #fff;}
#content .button {margin-top: 30PX; }