/* SUB2_3 타이틀 추가 수정 영역 */
.title_area .h2_div {background-color:rgba(204,204,204, .2); padding-bottom: 100px;}
.title_area .h2_div h2{color:#333;}
.title_area .h2_div dl  {height: 300px; width: 1000px; text-align: center; font-family: 'Nanum Gothic', sans-serif; font-weight: 700;
    line-height: 1.5em; font-size: 1.5em; border-radius: 25px; border: solid 3px #c9e3a6; 
    background-color: #fff; opacity: .9; padding: 20px; margin: 50px 0 0 77px;}  
.title_area .h2_div dt{font-size: 1.563em; margin: 10px 0 50px 0; color: #2ea275;}
.title_area .h2_div strong {color: #d00024}

#content .title_area ul{overflow: hidden; position: relative; width: 1200px; padding-bottom: 15px; margin-bottom: 50px;border-bottom: #999 solid 3px;}
#content .title_area li{float: left; width: 400px; font-size: 1.125em; position: relative; text-align: center;}
#content .title_area li a:hover{color: #d00024;}

#content .title_area .co_left::before{content: ''; display: block; width: 8px; height: 8px; background-color: #666;
            position: absolute; left: 190px; top: 26px;  margin: .3px 0 0 3px;
         transform: rotate(-45deg); -webkit-transform: rotate(-45deg);
         transform-origin: 0 100%; -webkit-transform-origin: 0 100%;}
#content .title_area .co_middle::before{content: ''; display: block; width: 8px; height: 8px; background-color: #999;
            position: absolute; right: 196px; top: 26px; margin: .3px 0 0 0px;
         transform: rotate(-45deg); -webkit-transform: rotate(-45deg);
         transform-origin: 0 100%; -webkit-transform-origin: 0 100%;}
#content .title_area .co_right::before{content: ''; display: block; width: 8px; height: 8px; background-color: #999;
            position: absolute; right: 190px; top: 26px; margin: .3px 0 0 3px;
        transform: rotate(-45deg); -webkit-transform: rotate(-45deg);
        transform-origin: 0 100%; -webkit-transform-origin: 0 100%;}


/* SUB2_3 본문 영역 */
#content .content_area>div{position: relative; right:-1000px; top:0; opacity: 0; transition: all .8s}
#content .content_area>div.boxMove{right:0; opacity: 1}
.scale {display: none;}

.content_area h3{text-align: center; font-size: 3em; margin-bottom: 100px; font-family: 'Nanum Gothic', sans-serif;font-weight: 400;}

.content_area .content_01 {position: relative; overflow: hidden; margin-bottom: 150px; margin-top: 200px;padding: 5px 0 10px 5px;}
.content_area .content_01 img {float: left; width: 580px; box-shadow: 3px 3px 5px 1px rgba(0,0,0,.4);}
.content_area .content_01 p{float: right; width: 580px; margin: 140px 10px 0 25px; color: #333; font-size: 1.25em; line-height: 1.7em; text-align: justify;}

.content_area .content_02 {position: relative; overflow: hidden; margin-bottom: 250px; padding: 5px 10px 10px 0;}
.content_area .content_02 img {float: right; width: 580px; box-shadow: 3px 3px 5px 1px rgba(0,0,0,.4);}
.content_area .content_02 p{float: left; width: 580px; margin: 160px 20px 0 10px;; color: #333; font-size: 1.25em; line-height: 1.7em; text-align: justify;}

.content_area .content_01 span {font-weight: bold; font-size: 8.125em; opacity: .4; z-index: -1;
    position: absolute; left: 610px; top: 150px;} 
.content_area .content_02 span {font-weight: bold; font-size: 8.125em; opacity: .4; z-index: -1;
        position: absolute; left: 10px; top: 0px;}

.content_area .content_03 {}
.content_area .content_03 p {text-align: center; line-height: 1.5em; font-size: 1.25em; font-weight: bold; color: #d00024;}
.content_area .content_03 dl {text-align: justify; font-size: 1.2em; margin: 50px 0 250px 0; line-height: 1.5em; background: url(../images/content3/content_img04.png) no-repeat right bottom; }
.content_area .content_03 dt {font-weight: bold; margin-bottom: 15px;}
.content_area .content_03 dd {margin-bottom: 30px;}

.content_area .content_04 {overflow: hidden; }
.content_area .content_04 dl {float: left; width: 300px; text-align: center; margin: 20px 50px;}
.content_area .content_04 dt {font-weight: bold; font-size: 1.5em; color:#666; margin-bottom: 20px;}
.content_area .content_04 dd {padding: 40px 30px; height: 100px; line-height: 2em;}
.content_area .content_04 dl:nth-of-type(1) dd {background: rgba(255,0,51,.1); }
.content_area .content_04 dl:nth-of-type(2) dd {background: rgba(255,104,0,.1);}
.content_area .content_04 dl:nth-of-type(3) dd {background: rgba(251, 255, 1, 0.1);}
.content_area .content_04 dl:nth-of-type(4) dd {background: rgba(136, 255, 1, 0.1);}
.content_area .content_04 dl:nth-of-type(5) dd {background: rgba(1, 255, 179, 0.1);}

.content_area .content_04 dt span {display: block; font-size: 5.625em; height: 150px; margin-bottom: 10px; }
.content_area .content_04 dl:nth-of-type(1) dt span {color:  rgb(255,0,51);}
.content_area .content_04 dl:nth-of-type(2) dt span {color:  rgb(255,104,0)}
.content_area .content_04 dl:nth-of-type(3) dt span {color:  rgb(255, 217, 0)}
.content_area .content_04 dl:nth-of-type(4) dt span {color:  rgb(177, 250, 117)}
.content_area .content_04 dl:nth-of-type(5) dt span {color:  rgb(0, 255, 221)}

.content_area .content_05 {overflow: hidden; padding-top: 100px; margin-bottom: 130px;}
.content_area .content_05 dl {float: left; margin: 50px 50px; font-weight: bold; font-size: .875em; text-align: center;}
.content_area .content_05 dt {margin-bottom: 10px;}
.content_area .content_05 dl:nth-of-type(3) dt {font-size: .813em;}